@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    
}


h1 {
    font-size: 2rem;
    color: red;
}


/*------ SIDEBAR --------*/
.wrapper {
    display: flex;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    background: #83b9ff;
    color: #fff;
}

#navHeader {
    background: #005ecb;
    padding: 10px;
   
}

#sideBarName {
/*    font-size: 1.2em;*/
    font-size: 2.5vh;
    padding: 15px;

    /*    font-family: 'Poppins', sans-serif;*/
}

#profilPic {
    height: 120px;
    width: 120px;
    clip-path: circle(50%);
    display: block;
    margin-left: auto;
    margin: auto;
}

#title{
    font-size: 2vh;
}

#contactInfo{
    background: #448aff;
    padding: 20px;

}

#contactInfo ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0
}

#contactInfo li {
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.8rem;
/*    font-size: 0.8vw;*/
}



#contactInfo i {
    margin-right: 10px;
}

#linkContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40vh;
}

#sidebar ul li a {
    font-size: 2.2vh;
    display: block;
    padding: 5px 10px 5px 10px;
    color: white;
    transition: all 0.5s;
    text-align: center;
}

#sidebar ul li a:hover {
    color: #448aff;
    background: #fff;
    text-decoration: none;
}



#social{
    text-align: center;
    bottom:0;
    height: 10vh;
    
}

i.fab{
    color: white;
    padding: 10px;
    transition: 0.5s;
    height: 10vh;
    width: 10vh;
    
}

i.fab:hover{
    transform: scale(1.2);
}


/*------ CONTENT --------*/
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 300;
    font-size: 1em;
}

p {
    /*    font-family: 'Poppins', sans-serif;*/
    
}

#content.active {
    width: 100%;
}
